<main>
<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<h1 class="text-center food-plate">Restaurant Reviews for Three Different Cities <br>
		And only three different cuisines!</h1><br>
	</div>
</div>
	
	<!-- plate of food underneath the above text -->
	<restaurant-filter selected-filters="$ctrl.selectedFilters"
						select-filter="$ctrl.handleFilter(filter)"
						select-sort="$ctrl.handleSort(sort)">
	</restaurant-filter>

	<div class="row">
		<ul class="restaurant-list col-sm-10 col-sm-offset-1">

			<restaurant-quickview 
				ng-repeat="restaurant in $ctrl.restaurants.filter($ctrl.selectedFilters.filterRestaurants) | orderBy: $ctrl.selectedFilters.sort"
				restaurant="restaurant"
				on-click="$ctrl.handleOpenRestaurantPage(restaurant)"
				user="$ctrl.user"
			></restaurant-quickview>
		</ul>
	</div>
</main>