<section>
	<h1>Restaurant Reviews for Three Different Cities</h1>
	<h2>And only three different cuisines!</h2>
	<span ng-if="$ctrl.user !== null"><h3>Take your pick, {{ $ctrl.user.displayName }}!</h3></span>
	<!-- plate of food underneath the above text -->
	<restaurant-filter selected-filters="$ctrl.selectedFilters"
						select-filter="$ctrl.handleFilter(filter)">
	</restaurant-filter>

	<div class="row">
		<ul class="restaurant-list col-sm-10 col-sm-offset-1">

			<restaurant-quickview 
				ng-repeat="restaurant in $ctrl.restaurants.filter($ctrl.selectedFilters.filterRestaurants)"
				restaurant="restaurant"
				on-click="$ctrl.handleOpenRestaurantPage(restaurant)"
				user="$ctrl.user"
			></restaurant-quickview>
		</ul>
	</div>
</section>