<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
	        <button type="button" class="navbar-toggle" ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span> 
	        </button>
			<a class="navbar-brand" href="/">The Three Review</a>
		</div>

		<div class="collapse navbar-collapse" uib-collapse="$ctrl.isNavCollapsed">
			<ul class="nav navbar-nav navbar-right">

		        <li ng-if="$ctrl.user === null"><a href="" ng-click="$ctrl.openLoginModal()">Login</a></li>
		        <li ng-if="$ctrl.user === null"><a href="" ng-click="$ctrl.openSignupModal()">Sign Up</a></li>
		        <li ng-if="$ctrl.user"><a href="" ng-click="$ctrl.logoutUser()">Log Out</a></li>
		    </ul>
	    </div>
	</div>
	
</nav>