<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">The Three Review</a>
		</div>
		
		<ul class="nav navbar-nav">

	        <li ng-if="$ctrl.user === null"><a href="" ng-click="$ctrl.openLoginModal()">Login</a></li>
	        <li ng-if="$ctrl.user === null"><a href="" ng-click="$ctrl.openSignupModal()">Sign Up</a></li>
	        <li ng-if="$ctrl.user"><a href="" ng-click="$ctrl.logoutUser()">Log Out</a></li>
	    </ul>
	</div>
	
</nav>