<div class="row">
	<div class="col-sm-offset-4 col-sm-8 filter-bars">
	<form>
		<div class="row">
			<!-- radio buttons for location -->

			<fieldset>
				<span class="col-sm-1"> 
					<h2 class="text-right">City?</h2>
				</span>
				<div class="btn-group col-sm-7 col-sm-offset-1" role="group" aria-label="city">
				    <button type="button" 
				  		    ng-model="$ctrl.filter.location"
				  		    uib-btn-radio="'Austin'"
				  		    ng-click="$ctrl.handleChange({location: $ctrl.filter.location})" 
				  		    class="btn btn-default">Austin</button>
				    <button type="button" 
				  		    ng-model="$ctrl.filter.location"
				  		    uib-btn-radio="'NY'"
				  		    ng-click="$ctrl.handleChange({location: $ctrl.filter.location})"
				  		    class="btn btn-default">New York</button>
				    <button type="button" 
				  		    ng-model="$ctrl.filter.location"
				  		    uib-btn-radio="'San Francisco'"
				  		    ng-click="$ctrl.handleChange({location: $ctrl.filter.location})"
				  		    class="btn btn-default">San Francisco</button>
				</div>
			</fieldset>
		</div>
		<div class="row">
			<!-- radio buttons for best reveiwed and most reviewed -->
			<fieldset>
				<span class="col-sm-1"> 
					<h2 class="text-right">Cost?</h2>
				</span>
				
				
				<div class="btn-group col-sm-7 col-sm-offset-1" role="group" aria-label="cost">
				    <button type="button" 
				    		ng-model="radioCost" 
				    		uib-btn-radio="'$'" 
				    		ng-click="$ctrl.handleChange({cost: '$'})" 
				    		class="btn btn-default">$</button>
				    <button type="button" 
				    		ng-model="radioCost" 
				    		uib-btn-radio="'$$'" 
				    		ng-click="$ctrl.handleChange({cost: '$$'})" 
				    		class="btn btn-default">$$</button>
				    <button type="button" 
				    		ng-model="radioCost" 
				    		uib-btn-radio="'$$$'" 
				    		ng-click="$ctrl.handleChange({cost: '$$$'})" 
				    		class="btn btn-default">$$$</button>
				    <button type="button" 
				    		ng-model="radioCost" 
				    		uib-btn-radio="'any'" 
				    		ng-click="$ctrl.handleChange({cost: 'any'})" 
				    		class="btn btn-default">Any</button>
				</div>
			</fieldset>
		</div>

		<div class="row">
			<!-- $$$ filter and cuisine combobox -->
			<fieldset>
				<span class="col-sm-1"> 
					<h2 class="text-right">Cuisine?</h2>
				</span>
				<span class="btn-group col-sm-7 col-sm-offset-1" role="group" aria-label="city">
				    <button type="button" 
				  		    ng-model="$ctrl.filter.cuisine"
				  		    uib-btn-radio="'tacos'"
				  		    ng-click="$ctrl.handleChange({cuisine: $ctrl.filter.cuisine})" 
				  		    class="btn btn-default">Tacos</button>
				    <button type="button" 
				  		    ng-model="$ctrl.filter.cuisine"
				  		    uib-btn-radio="'BBQ'"
				  		    ng-click="$ctrl.handleChange({cuisine: $ctrl.filter.cuisine})"
				  		    class="btn btn-default">BBQ</button>
				    <button type="button" 
				  		    ng-model="$ctrl.filter.cuisine"
				  		    uib-btn-radio="'Chinese'"
				  		    ng-click="$ctrl.handleChange({cuisine: $ctrl.filter.cuisine})"
				  		    class="btn btn-default">Chinese</button>
				</span>
			</fieldset>
		</div>
		<div class="row">
			<div class="col-xs-offset-7 col-sm-offset-2">
				<input type="checkbox" id="bestReviewed" 
						ng-model="$ctrl.filter.sort"
						ng-true-value="'-avgStars'"
						ng-false-value="''"
						ng-change="$ctrl.handleSort({sort: $ctrl.filter.sort})">
				<label for="bestReviewed">Best Reviewed</label>
			</div>
			
		</div>
		</form>
	</div>
</div>