<div class="container">
	<div class="row">
		<div class="col-sm-5">
			<h2>{{$ctrl.restaurant.name}}</h2>
			
			<read-only-star-review stars="$ctrl.restaurant.avgStars"></read-only-star-review>
			<h4>Open: {{$ctrl.restaurant.operatingHours}}</h4>
			
			<div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCfunUKqE-js0bjK0xiINRUOmcWl_3PBtg">
			  <ng-map center="{{$ctrl.restaurant.location.join(' ')}}" zoom="15">
			  	<marker position="{{$ctrl.restaurant.location.join(' ')}}"></marker>
			  </ng-map>
			</div>
			<h4>{{$ctrl.restaurant.location.join(" ")}}</h4>
			

		</div>
		<div class="col-sm-7">
			<br><br><br>
			<button class="btn btn-default" ng-click="$ctrl.handleReviewWrite()">Write a Review!</button> 
			<br><br><br>
			<span ng-if="$ctrl.reviews.length > 0">
				<h2>Reviews:</h2>
				<ul class="restaurant-reviews">
					<restaurant-review 
						ng-repeat="review in $ctrl.reviews | orderBy:'-'"
						review="review"
					></restaurant-review>
				</ul>
			</span>
			<span ng-show="!$ctrl.reviews.length">
				<h2>No user-submitted reviews as of yet!</h2>
			</span>
		</div>
	</div>
</div>