<div class="col-sm-4">
	<h2><a href="" ng-click="$ctrl.handleOpenRestaurantPage($ctrl.restaurant.id)">{{$ctrl.restaurant.name}}</a></h2>
	<span uib-rating ng-model="$ctrl.restaurant.avgStars" read-only="true"></span>
	<!-- <star-review stars="$ctrl.restaurant.avgStars"></star-review> -->
	<p>{{$ctrl.restaurant.operatingHours}} 
	<br>
	{{$ctrl.restaurant.cost}}</p>
	<img ng-src="{{$ctrl.restaurant.img_url}}" alt="{{$ctrl.restaurant.alt_text}}">
	<p>{{$ctrl.restaurant.location.join("\n")}}</p>
	<button class="btn btn-default" ng-click="$ctrl.handleReviewWrite()">Write a review!</button>
</div>

