<h2>{{$ctrl.restaurant.name}}</h2>
<h3>{{$ctrl.restaurant.operatingHours}}</h3>
<span uib-rating ng-model="$ctrl.restaurant.avgStars"></span>
<h3>{{$ctrl.restaurant.location.join(" ")}}</h3>
<img ng-src="{{$ctrl.restaurant.img_url}}" alt="{{$ctrl.restaurant.alt_text}}">
<br>
<button class="btn btn-default" ng-click="$ctrl.handleReviewWrite()">Write a Review!</button> 
<ul class="restaurant-reviews">
	<restaurant-review 
		ng-repeat="review in $ctrl.reviews"
		review="review"
	></restaurant-review>
</ul>
