/*$brand-primary: #00A0B8;*/
$brand-primary: #273b7a;
$font-primary: #fff;

$navbar-default-bg: $brand-primary;
$navbar-default-link-color: $font-primary;
$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;
$navbar-default-toggle-icon-bar-bg: $font-primary;
$navbar-default-toggle-hover-bg: darken($brand-primary, 10%);

/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 950px;




@import "bootstrap";

.header {
	background-color: $brand-primary;
	color: $font-primary;
	line-height: 1.5em;
	padding-bottom:40px;
	margin-bottom: 90px;
}
/*
.food-plate {
	z-index:2;
  	background-size: 200px auto;
}

.food-plate:before {
    content: ' ';
    display: block;
    position:absolute;
    left:500px;
    width: 100px;
    height: 113px;
    z-index: 1;
    opacity: 0.6;
    background: url(plate.svg) no-repeat center -10px;

} 
*/

.navbar {
	border: 0px;
}

.plate {
	margin-bottom: -115px;
}
